input[type="text"]::placeholder {             
    text-align: center;
}

input[type="tel"]::placeholder {             
    text-align: center;
}

input[type="email"]::placeholder {             
    text-align: center;
}

input[type="number"]::placeholder {             
    text-align: center;
}

.custom-button {
    font-size: 0.9rem; 
    padding: 8px 16px; 
  }
  