<div>
    <header class="header">
        <div class="header-content">
            <!-- Logo on the left -->
            <img src="../assets/logo.png" alt="Logo" class="logo">
            <!-- Title in the center -->
            <h1>Appraisal Management</h1>

            <!-- Navigation on the right -->
            <nav class="nav-bar">
                <a routerLink="/">Home</a>
                <a routerLink="/services">Services</a>
                <a routerLink="/contact">Contact</a>
            </nav>
        </div>
    </header>
</div>